fastapi==0.115.6
pymupdf4llm==0.0.17
pymupdf==1.25.1
sentence-transformers==3.3.1
langchain-huggingface==0.1.2
langchain-community==0.3.12
langchain-redis==0.1.1
python-multipart==0.0.20
redis==5.2.1
langchain==0.3.13
uvicorn==0.34.0